table, th, td {
    border: 2px solid;
    border-collapse: collapse;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    user-select: none;
}

td {
    height: 50px;
    width: 50px;

}

td:hover {
    background-color: darkgray;
}

td:active {
    background-color:gray;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

#display{
    height: 50px;
}